*
!.gitignore
!f12xg_inputs/
!f12xg_inputs/*.inp
!f12xg_inputs/expfile_*.txt
!systems/
!systems/cu_nh3/
!systems/cu_nh3/standard/
!systems/cu_nh3/standard/metadata.json
!systems/cu_nh3/standard/standard_all_gamma.tinp
!systems/cu_nh3/xg/
!systems/cu_nh3/xg/metadata.json
!systems/cu_nh3/xg/xg.tinp
!systems/optimize_gamma_by_element/
!systems/optimize_gamma_by_element/

!README.md
!*.py
!*.ipynb

!Tests/
!Tests/simple_tensor_inspector.ipynb
!Tests/tensor_output_reader.py
!Tests/comp_between_default_and_standard_*/
!Tests/comp_between_default_and_standard_cu/default_check_for_fortran_printing.165081-20251203.out
!Tests/comp_between_default_and_standard_cu/standard_check_for_cpp_printing.165082-20251203.out
